/* ____________________________TAGS______________________________ */

body {
	width: 100%;
	max-width: 1400px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	background: #eeeeee;
	background: -webkit-linear-gradient(to right, #eeeeee, #eeeeee);
	background: linear-gradient(to right, #eeeeee, #eeeeee);
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
	color: #c22;
}

strong {
	font-weight: 900;
	text-decoration: underline;
}

header {
	background: #ccc;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 12vh;
}

main {
	display: flex;
	flex-direction: column;
}

footer {
	background: #ccc;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
	border: black solid 1px;
}

/* ____________________________HEADER______________________________ */

.header-info-box {
	width: 40%;
	font-size: 1.2em;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.header-info {
	text-align: center;
	margin: 0;
}

.nav-bar {
	margin: 0;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.info-links {
	width: 100%;
	list-style: none;
	padding: 0;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

.info-link {
	list-style-position: outside;
	list-style: none;
	font-size: 20px;
	padding: 0 8px 4px;
	margin: 0 4px;
	list-style: none;
	display: inline;
}

.info-img {
	margin: 0;
	width: 40px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	border-radius: 10px;
}

.info-text {
	margin: 6px 0;
}

/* ____________________________MY_PROFILE______________________________ */

.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 88vh;
}

.about-me {
	margin: 6vh auto;
	width: 45%;
	font-size: 20px;
}

.brand {
	margin: 2px 4px;
}

.profile-photo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	width: 45%;
}

.profile-photo {
	border-radius: 20px;
	max-width: 360px;
	box-shadow: 5px 5px 10px grey;
}

.about-me-extra-title {
	margin: 10px auto 8px;
	text-align: center;
}

.small-photo-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.small-photo {
	margin: 10px;
	width: 33%;
	height: 33%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}

.small-photo:hover {
	opacity: 0.9;
}

/* ____________________________PROJECTS______________________________ */

.projects-heading {
	text-align: center;
	text-decoration: underline;
	padding: 10px;
	margin: 0;
	border-top: 1px solid black;
}

.projects-subheading {
	text-align: center;
	padding: 0;
	margin: 0 0 20px;
}

.projects {
	display: flex;
	flex-direction: column;
}

.project-container {
	border-bottom: 1px solid black;
	width: 100%;
	padding: 30px 0 40px;
}

.project-container a:hover,
.project-container span:hover {
	opacity: 0.9;
}

.info-container {
	margin: 0;
	display: inline-block;
	width: 45%;
}

.odd {
	float: left;
}

.even {
	float: right;
}

.project-title {
	font-size: 24px;
	text-align: center;
	max-width: 400px;
	padding: 0 24px;
	margin: 0 20px;
}

.project-subtitle {
	font-size: 18px;
	text-align: center;
	max-width: 400px;
	padding: 0 24px;
	margin: 5px 20px;
}

.project-description {
	font-size: 1.05em;
	padding: 6px 12px 0;
	margin: 0 14px;
}

.img-container {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 55%;
	text-align: center;
}

.project-img {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	text-align: center;
	max-width: 540px;
	min-width: 400px;
	box-shadow: 5px 5px 10px black;
	border-radius: 3px;
}

.contact-container {
	padding: 16px 0;
}

.contact-heading {
	text-align: center;
	text-decoration: underline;
}

.contact {
	text-align: center;
	margin: 30px;
}

/* ____________________________FOOTER______________________________ */

.copy p {
	margin: 15px;
}

.copy {
	margin: 0;
}

/* ____________________________MEDIA_QUERIES______________________________ */

@media only screen and (max-width: 700px) {
	header {
		flex-direction: column;
		height: auto;
	}

	.header-info-box {
		width: 100%;
		order: 1;
	}

	.info-link {
		padding: 4px;
	}

	.nav-bar {
		width: 100%;
		order: 2;
	}

	.header-subtitle {
		font-size: 1em;
	}

	.profile {
		display: flex;
		flex-direction: column;
	}

	.profile-photo-box {
		width: 100%;
	}

	.about-me {
		margin: 3vh auto;
		width: 80%;
		min-width: 310px;
	}

	.project-container {
		width: 100%;
	}

	.project-container {
		display: flex;
		flex-direction: column;
	}

	.project-description,
	.project-title,
	.project-subtitle {
		margin: 0 auto;
	}

	.project-title {
		padding-top: 12px;
	}

	.img-container {
		order: 1;
		width: 100%;
	}

	.project-img {
		min-width: 310px;
	}

	.info-container {
		order: 2;
	}

	.info-container {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.nav-bar {
		flex-direction: column;
	}
}
