body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #aaaaaa;
  background: -webkit-linear-gradient(to right, #aaaaaa, #ffffff);
  background: linear-gradient(to right, #aaaaaa, #ffffff);
  font-family: 'Quicksand', sans-serif;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-info-box {
  border: black solid 1px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  padding-left: 10px;
}

.header-info {
  margin: 2px 4px;
  width: 80%;
}

.about-me {
  padding-top: 10px;
  width: 35%;
  font-size: 18px;
}

.header-photo-box {
  width: 20%;
}

.email a {
  font-size: 0.75em;
}

a {
  text-decoration: none;
}

.brand {
  font-size: 0.65em;
}

.header-photo {
  border-radius: 20px;
  width: 160px;
}

.projects {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
	flex-wrap: wrap;
}

.project-container {
  border: 1px solid black;
  width: 500px;
	margin: 0px;
}

.project-container:hover {
  opacity: 0.7;
}

.img-container {
  text-align: center;
}

.project-img {
	display: inline-block;
	margin: 0 auto;
	width: 80%;
}

.project-title {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border: black solid 1px
}

.nav-bar {
  margin: 0;
  border: 1px solid black;
}

.copy p {
  margin: 0;
}

.copy, .email {
  margin: 0;
}

.info-links {
	list-style: none;
	padding-left: 0;
  padding-bottom: 0;
  margin: 6px 0 6px 0;
  margin: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.info-link {
	list-style-position: outside;
	list-style: none;
	font-size: 32px;
  padding: 2px;
  list-style: none;
  display: inline;
}

.info-img {
  margin: 0 6px;
	width: 40px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 10px;
}

/*@media only screen and (max-width: 800px) {
  .project-container {
    width: 400px;
  }

	.project-img {
		width: 400px;
	}

	header {
		margin-top: 50px;
		width: 90%;
	}
	h1 {
		font-size: 40px;
	}
	li {
		padding-bottom: 30px;
		font-size: 30px;
	}
}*/
